body, html {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Hiragino Sans GB', sans-serif;
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}
